In [1]:
import os
os.chdir("../..")

In [2]:
import pandas as pd
import numpy as np
import pickle
from ssoc_autocoder.combined_model import SSOCAutoCoder

In [3]:
with open("Models/autocoder.pkl", "rb") as inp:
    model = pickle.load(inp)

In [6]:
data = pd.read_csv("/Users/dsaid/Downloads/output_wsg_jobseeker.csv")

In [7]:
data.head()

,job_title,job_description,hand_relabelled,employee_label,hand_labels,old_predict,prediction_1,predicted_title_1,confidence_1,prediction_2,...,confidence_2,prediction_3,predicted_title_3,confidence_3,prediction_4,predicted_title_4,confidence_4,prediction_5,predicted_title_5,confidence_5
0,,,NaN,24149,NaN,41101,41101,Office clerk (including filing and copying),0.02964,51201,...,0.02870,26541,"Producer (stage, film, television, game, comme...",0.02126,21211,Mathematician,0.01800,93201,Hand packer,0.01683
1,1-1 O Level Tutor,,36910,36910,NaN,41320,36910,Private tutor (academic),0.90320,34221,...,0.00590,23103,Teaching assistant/Tutor in university,0.00446,35123,IT support technician (including IT user helpd...,0.00424,26431,Translator,0.00306
2,Account Executive (3-month contract),Assistance with data analysis of client accoun...,43112,33130,NaN,26431,33223,Marketing and sales executive (food & beverage...,0.24949,33222,...,0.12592,24334,Sales professionals (institutional sales of fi...,0.06878,24111,Accountant (excluding tax accountant),0.06493,43112,Ledger and accounts clerk,0.06036
3,Account Manager ‰ÛÒ Commercial Sector,#NAME?,NaN,12211,NaN,12212,13461,Financial services manager,0.07085,41101,...,0.05608,83324,Waste truck driver (including hooklift trucks ...,0.04693,14201,Retail manager,0.03686,33222,After sales adviser/Client account service exe...,0.03154
4,Accountant,Submission of accounts up to general ledger,24111,43112,43112.0,43112,24111,Accountant (excluding tax accountant),0.99944,33131,...,0.00050,24112,Auditor (accounting),0.00001,26111,Advocate/Solicitor (practising),0.00001,26310,Economist,0.00000

In [11]:
result_list = []
confidence_list = []

In [12]:
for index, row in data.iterrows():
    model_results = model.predict_lite(title=row['job_title'])
    prediction = model_results['prediction'][0]
    confidence = model_results['confidence'][0]
    result_list.append(prediction)
    confidence_list.append(confidence)

In [16]:
data['title_only_pred'] = result_list
data['title_only_conf'] = confidence_list

In [18]:
data.to_csv("/Users/dsaid/Downloads/output_wsg_jobseeker_w_pred.csv", index=False)